[required]
annotations_dir = /Volumes/rmd-data/EpiBioStat/NLP/Annotation team/Body_Function/bf_btris_exploratory_15/annotations
output_dir = /Users/jimenezsilvara/Desktop/qa_outputs

task = sequence_labelling
encoding = UTF-8

[Qualifier]
overlaps = Qualifier|Body Function Type|Body location
features = Category :-1|0|1

[Body location]
overlaps = Qualifier|Body Function Type|Body location

[Body Function]
overlaps=
sub_entities = Body Function Type|Body location|Qualifier

[Body Function Type]
overlaps = Qualifier|Body Function Type|Body location
features = Function:(blank)|SCTID: 44432004 (Strength)|SCTID: 364564000 (ROM)|SCTID: 87572000 (Reflex)|Ambiguous






